
/* Simulate mathlive stylesheet from being loaded to prevent font loading (as they are included automatically)
Using fontsDirectory: null option should be sufficient but seems to be broken currently... */
:root {
	--ML__static-fonts: true;
}

.ck-mathinput {
	font-size: 1.5rem !important;
}

.ck-mathinput textarea {
	width: 20rem !important;
	min-height: 5em;
	font-size: 0.9rem  !important;
	width: 100%;
	/* padding: 0.2rem; */
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace !important; 
}

#mathlive-popover-panel {
	z-index: calc(var(--ck-z-modal) + 2) !important;
}

.ck-math-buttons {
	/* padding-left: 15px !important; */
	width: 100% !important;
	display: flex !important;
	justify-content: end !important;
	font-size: 1rem !important;
}

	.ck.ck-math-form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 2rem;
	min-width:  21rem;


	@media screen and (max-width: 600px) {
		flex-wrap: wrap;

		& .ck-math-view {
			flex-basis: 100%;

			& .ck-labeled-input {
				flex-basis: 100%;
			}

			& .ck-label {
				flex-basis: 100%;
			}
		}

		& .ck-button {
			flex-basis: 50%;
		}
	}
}

.ck-math-tex.ck-placeholder::before {
	display: none !important;
}

.ck.ck-toolbar-container {
	z-index: calc(var(--ck-z-modal) + 2);
}
