

.ck.ck-math-form input.ck.ck-input.ck-input-text {
		width: 36em;
		min-height: 5em;
		word-wrap: break-word;
		white-space: break-spaces;
	}
.ck-mathinput {
	font-size: 1.5rem !important;
}
.ck-mathinput textarea {
	font-size: 0.9rem  !important;
	width: 100%;
	min-height: 4rem;
	padding: 0.2rem;
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace !important; 
}

#mathlive-popover-panel {
	z-index: calc(var(--ck-z-modal) + 2) !important;
}

.ck-math-buttons {
	padding-left: 15px !important;
}

	.ck.ck-math-form {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: nowrap;


	@media screen and (max-width: 600px) {
		flex-wrap: wrap;

		& .ck-math-view {
			flex-basis: 100%;

			& .ck-labeled-input {
				flex-basis: 100%;
			}

			& .ck-label {
				flex-basis: 100%;
			}
		}

		& .ck-button {
			flex-basis: 50%;
		}
	}
}

.ck-math-tex.ck-placeholder::before {
	display: none !important;
}

.ck.ck-toolbar-container {
	z-index: calc(var(--ck-z-modal) + 2);
}
